/* User History Section */
.userHistory {
    width: 100%;
    padding: 20px;
    background-image: url(/public/fire1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    /* margin: 30px auto; */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
    color: white; /* Text color inside userHistory */
}

/* Admin Table Styles */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-table-header {
    background-color: #1C737D;
    color: white;
  }
  
  .admin-table-header th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }
  
  .admin-table-body tr {
    border-bottom: 1px solid #ddd;
    transition: background 0.3s ease;
  }
  
  .admin-table-body tr:hover {
    background-color: #f1f1f1;
  }
  
  .admin-table-row td {
    padding: 12px;
    color: #333;
  }
  
  .no-data {
    text-align: center;
    padding: 15px;
    color: #777;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .admin-table-header th,
    .admin-table-row td {
      font-size: 14px;
      padding: 8px;
    }
  }
  
.searchbar {
    width: 30%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid brown;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    position: relative;
    left: 34%;
  }