.wholepa{
  /* background-color:#57D6DA; */
  height:100%;
  /* background-image: url(/public/final.jpg); */
  background-image: url(/public/Untitled.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);
 }
 p{
  text-align: center;
  
 }
 .regparentpage{
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: unset;
  justify-content: center;
  
 }
 .regsubpage{
  width: 50%;
  /* display: flex; */
  justify-content: center;
  border: 1px solid rgb(184, 245, 240);
  margin-top: 2%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  /* overflow: hidden; */
  margin-bottom: 5%;
 }
 .fields{
  display: flex;
  justify-content: space-around;
  
 }
 .myform{
  width: auto;
 }
 .formtitle{
  text-align: center;
  text-decoration: underline;
 }
 .fn{
  gap: 10px;
  color: black;
  display: flex;
  flex-direction: column;
 
 }
 .fn label{
  overflow: hidden;
 }
 .box{
  height: 50%;
  width: 100%;
  border-radius: 10px;
  /* color: #0f5852; */
  font-size: 16px;
  /* font-weight: 600; */
  background-color: #edf3f5;
  overflow: hidden;
  
 }
 .box:hover{
  opacity: 10px;
  background-color:#dde8ec ;
 }
 .submitbtn{
  align-content: center;
  cursor: pointer;
  margin-left: 45%;
  padding: 5px 10px;
  border-radius: 10px; background-color: rgb(37, 145, 207);
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  transition: 0.2s ease-in-out;
 }
 .submitbtn:hover{
  /* border-radius: 15px; */
  background-color: rgb(37, 145, 207);
  transform: translateY(-5px);
 }
 .error{
  color: red;
 }