.header {
    background-color: #F5F1EC ;
    color:black;
    text-align: center;
    padding: 31px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }
  
  header p {
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
  } 