.pageee {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(/public/fire1.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* p{
  padding: 10px 0px;
  font-weight: bold;
  text-decoration: un;
} */
.par {
width: 100%;
/* justify-content: center; */
/* align-content: center; */
display: flex;
flex-direction: column;
 
}
.feedsty{
  flex-direction: column;
justify-content: center;

align-items: center;
}
.sub {
  background-color: rgb(247, 244, 238);
  left: 25%;
  height: 35vh;
  position: relative;
  align-items: center;
  
  overflow: hidden;
  margin-top: 5%;
  width: 45%;
 
}
.form {
  width: 60%;
  position: relative;
  left: 20%;
  height: 40vh;
}

.questioninput {
  width: 75%;
  margin: 5px 0px;
  padding: 8px;
  position: relative;
  left: 35px;
  top: 2px;
  border-radius: 6px;
  border: 1px solid black;
  height: 20%;
}
/* .fbtn{
  position: relative;
  left: 40%;
  margin-top: 10px;
} */



