.user {
  
  /* padding: 20px; */
  /* background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(10px); */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
  background-image: url(/public/fire1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
.mg{
 
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  gap: 10%;
  padding-top: 3%;
  
  flex-wrap: wrap;
  justify-content: center;

}
.mg-cantainer{
  
  height: 250px;
  width: 15%;
  
  border-radius: 10px;
  /* box-shadow: 2px 0px 0px 0px; */
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;

 
}
/* Moving Linear Gradient Animation */
@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mg-btn {
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(to right, #1C737D, #006FB9); /* Purple and blue hues */
  background-size: 200% 200%; /* Makes the gradient big enough to move */
  animation: movingGradient 5s ease infinite; /* Animation to make it move */
  color: white;
  font-weight: 700;
  padding: 60px 30px 60px 30px;
  border-radius: 10px;
  margin-top: -50px;
  transition: all 0.3s ease; /* Optional for smoother hover effects */
}
  /* .mngmcat{
    
    width: 200px;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .mngmcat:hover{
   
    opacity: 0.8;
  }

  .quiz-content-btn{
    margin-left: 60px;
    margin-right: 30px;

  }
   */