.quiz-editor {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .back-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .back-icon {
    font-size: 40px;
    border-radius: 50%;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .back-icon:hover {
    transform: scale(1.1);
  }
  
  .quiz-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 80%; 
    margin-left: 10%
  }
  
  .question-box {
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .delete-button {
    background-color: #e74c3c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .add-button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #2980b9;
  }
  
  .update-button {
    background-color: #2ecc71;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #27ae60;
  }
  
  .publish-button {
    background-color: #f39c12;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .publish-button:hover {
    background-color: #e67e22;
  }
  