.videopage{
    display: flex;
    vertical-align: center;
    justify-content: center;
    margin-top: 10%;
}
.video-btn{
    width: 400px;
    height: 40px;
    display: flex;
    /* margin-top: 26%;s */
    position: absolute;
    justify-content: space-around;
    
}
.video-btn button{
    padding: 0px 20px;
    
}
.pause-btn{
    background-color: rgb(234, 234, 37);
    
}
.play-btn{
    background-color: rgba(236, 34, 34, 0.721);
    border-radius: 5px;
    color: white;
}