.menu-bar {
    width: 200px;
    background-color: #F5F1EC;
    color: black;
    /* height: calc(100vh - 100px); */
    position: fixed;
    top: 0px; 
    left: 0;
    overflow-y: auto;
    padding: 10px;
    height: 100vh;
  }  
  .menuimage{
    height: 100px;
    width: 180px;
    border-radius: 5px;
    position: relative;
    mix-blend-mode: multiply;
 
  }
  
  .menu-bar ul {
    list-style: none;
    padding: 30px 0px 0px 0px;
    margin-top: 15%;
  
  }
  
  .menu-bar a {
   
color: black;
text-decoration: none;
display: flex;
align-items: center;
padding: 30px 10px;
  }
  
  .menu-bar a .icon {
    margin-right: 10px;
  }
  
  .menu-bar a.active {
    font-weight: bold;
    background-color: #1C737D;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
  }
  .logout{
    color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 30px 10px;
  }
 